[server1]
type=server
address=10.1.0.10
port=3306
protocol=MariaDBBackend

[server2]
type=server
address=10.1.0.20
port=3306
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2
user=monitor
password=password
monitor_interval=2s